body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width p{
    margin-top: 60px;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 40px;
    color: white;
    font-weight: 300;
    border-radius: 30px;  
  
}

.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
}

.recipes-part{
    text-align: center;
    
}
.recipes-part p{
   
    width: 40%;
    margin: auto;
}

.recipes-2ndpart img{
    width: 40%;
    
}

#firstpart{
    margin-top: 2%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
#firstpart img{
    width: 95%;
    margin-top: 15px;
}
#secondpart{
    margin-top: 2%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
#secondpart img{
    width: 95%;
    margin-top: 15px;
}
#thirdpart{
    margin-top: 2%;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
#thirdpart img{
    width: 95%;
    margin-top: 15px;
}



.number{
    
    padding: 0px 55px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
}
.three-col{
    width: 33.33%;
    text-align: center;
}
.three-col h1{
    font-size: 36px;
    font-weight: 900;
}
.three-col p{
    font-size: 18px;
}
/*---footer section start--*/
footer{
    text-align: center;
    background-color: black;
    padding: 10px 0 70px 0;
    
    
}
.gray-color{
    color: gray;
}
footer p{
    color: white;
}

    
